<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elephant Store</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" href="{{ url_for('static', filename='img/elefantelogo.png') }}" type="image/png"> <!-- Ícone da página -->
</head>
<body>
    <!-- Cabeçalho -->
    <header>
        <div class="container">
            <img src="{{ url_for('static', filename='img/elefantelogo.png') }}" alt="Logo da Loja" class="logo"> <!-- Logo ao lado do título -->
            <h1>Elephant Store</h1>
            <nav>
                <ul>
                    <li><a href="/"><i class="fa-solid fa-house"></i>Home</a></li>
                    <li><a href="/roupas"><i class="fa-solid fa-shirt"></i>Roupas</a></li>
                    <li><a href="/carrinho"><i class="fa-solid fa-cart-shopping"></i>Carrinho</a></li>
                    <li><a href="/login"><i class="fa-solid fa-user"></i>Login</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section class="hero">
            <h2>Bem-vindo à Elephant Store!</h2>
            <p>Encontre as melhores roupas e acessórios para você.</p>
            <a href="#" class="btn">Ver Produtos</a>
        </section>

        <!-- Seção de Produtos -->
        <section class="products">
            <h2>Nossos Produtos</h2>
            <div class="product-list">
                {% if produtos %}
                    {% for produto in produtos %}
                        <div class="product">
                            <img src="{{ url_for('mostrar_imagem', produto_id=produto.ID_PRODUTO) }}" alt="{{ produto.MARCA }}">
                            <h3>{{ produto.MARCA }}</h3>
                            <p>R$ {{ produto.VALOR_PROD }}</p>
                            <a href="{{ url_for('adicionar_ao_carrinho', produto_id=produto.ID_PRODUTO) }}" class="btn">Comprar</a>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>Não há produtos disponíveis no momento.</p>
                {% endif %}
            </div>
        </section>
    </main>

    <!-- Rodapé -->
    <footer>
        <div class="container">
            <p>&copy; 2024 Elephant Store</p>
        </div>
    </footer>
</body>
</html>
